@page
@model MiFicExamples.Pages.Storage.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/app-service/">building Web apps on Azure App Service</a>.</p>
</div>

<h1>Existing blobs</h1>

<p>
    <a asp-page="Create">Create a new blob</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Blobs[0].Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blobs[0].Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blobs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Key">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
